body{
    margin: 0px;
    padding: 0px;
}

.containerPrincipal{
    background-color: rgb(90, 89, 85);
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    transition: all 0.3s;
}
.containerPrincipal:hover{
    transform: translateY(100px);
}

.containerButton{
    display: flex;
    justify-content: flex-end;
}

.boton{
    margin: 10px 10px 0px 0px;
    background-color: aliceblue;
    color: brown;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.boton:hover{
    background-color: brown;
    color: aliceblue;
    transform: scale(3.2);
}
.containerTitulo{
    display: flex;
    justify-content: center;
}
.titulo{
    color: blueviolet;
}
.min{
    margin: 10px;
}
.max{
    margin: 10px;
}

.temperatura{
    display: flex;
}
.containerInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}